<ion-header>
  <ion-toolbar>
    <ion-title>
      Music
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
  <ion-row>
    <ion-col>
      <ion-button color="danger" shape="round">
        <ion-icon name="square"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="success" shape="round">
        <ion-icon name="play"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="tertiary" shape="round">
        <ion-icon name="pause"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>




  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
</ion-content>
